button {
	width:90px;
	height:34px;
	border-style:solid;
	border-width:1px;
	background-color:#6495ED;
	color:#FFFFFF;
	text-decoration:none;
    cursor:pointer;
    transition-duration:0.3s;
}
button:hover {
	background-color:#FFFFFF;
	color:#9B9B9B;
	font-weight:bolder;
}
.hr_style {
	border-style:dotted;
	border-color:#6495ED;
}
table,tr,td {	/*表格、单元格*/
	font-size: 18px;
}
.resultstitle {
	position:relative;
	top:-35px;
	font-size:20px;
}
.col-sm-1 {
	padding-right: 1px;
	padding-left: 1px; 
}
.col-sm-2 {
	padding-right: 1px;
	padding-left: 1px; 
}